<!DOCTYPE html>
<html lang="en">
<head>
    <title>NEW BLOG POST FORM</title>
</head>
<body>
    <!-- <form action="<%= posts_path %>" method="POST"> -->
        <%= form_tag posts_path do %>
        <label>Post Title</label><br>
        <!-- <input type="text" id="post_title" name="post[title]"><br> -->
        <%= text_field_tag :"post[title]" %><br>
        <label>Post Description</label><br>
        <!-- <textarea id="post_description" name="post[description]"></textarea><br> -->
        <%= text_area_tag :"post[description]" %><br>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="submit" name="Submit" value="Submit Post">
        <% end %>

    </form>
</body>
</html>